.offcanvas-header {
    display: none;
    .btn-close {
        background: none !important;
        border: none !important;
        &:hover {
            background: none !important;
            border: none !important;
            outline: none !important;
        }
    }
}
